<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style.css' />
    <title>Add new deals</title>
  </head>
  <body>
    <div class='containers'>
      <h2>Add new avo deal</h2>

      <br /><br />
      <form action='/avo/add' method='post'>

        <div class='error'>
          {{messages.error}}
        </div>
        <div class='m1'>
          <label for='qty'>Number of Avos</label>
          <input type='number' class='m-1 p-1' name='qty' id='' />
          <br /><br />
          <label for='price'>Price of Avo:</label>
          <input type='number' name='price' value='' />
        </div>
        <br />
        <label for='shop'>Choose a shop:</label>
        <select name='shop' class='shop'>
          <option name='shopAll' value='all'>Select shop</option>
          <option name='shop1' value='1'>Fruit & Veg City</option>
          <option name='shop2' value='2'>Tsjekkers</option>
          <option name='shop3' value='3'>Shopryte</option>
          <option name='shop4' value='4'>Pick n Play</option>
          <option name='shop5' value='5'>Fruit lovers</option>

        </select>
        <br /><br />
        <button type='submit' class='show-shop'>Add Deal</button>

      </form>
    </div>
  </body>
</html>