<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style.css' />
    <title>Deals of shops</title>
  </head>
  <body>
    <div class='containers'>
      <a href='/'><button>Back</button></a>
      <form action='/avo/deals' method='get'>
        <h2>Avo deals per shop</h2>

        {{#each shopDeals}}
          <h4>{{qty}} for R{{price}}</h4>
        {{/each}}
      </form>
    </div>
  </body>
</html>