<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style.css' />
    <title>Add a new shop</title>
  </head>
  <body>
    <div class='containers'>
      <h3>Add a new shop</h3>
      <form action='/avo/newshop' method='post'>
        <div class='error'>
          {{messages.error}}
        </div>
        <label for='shop'><b>Shop</b></label>
        <input type='text' placeholder='Enter Shop' name='shop' id='shop' />
        <button type='submit' class='shop'>Add</button>
        <br />
        <br />
        <a href='/avo/list'>list of shops</a>
      </form>
    </div>
  </body>
</html>